.container {
  max-width: 850px;
}
.weather-app {
  margin-top: 60px;
  margin-bottom: 20px;
  border: 1px solid #6c757d;
  border-radius: 10px;
  padding: 20px;
}

.btn-outline-secondary {
  --bs-btn-color: #ffffff;
  --bs-btn-bg: #6c757d;
  --bs-btn-hover-bg: #565e64;
}

.btn-location {
  float: right;
  font-size: 18px;
  padding: 5px 10px;
  color: white;
  background-color: #6c757d;
  border-radius: 5px;
  border-style: none;
}

.solid {
  margin: 20px 0;
}

.temp-row {
  margin-top: 40px;
}

.degrees {
  display: flex;
  margin-top: 40px;
}

.degrees h1 {
  font-weight: 700;
  font-size: 90px;
}

.degrees h4 {
  margin-top: 20px;
  margin: 20px 0px 0px 10px;
}

.degrees ul {
  font-size: 15px;
  margin: 20px 0px 0px 10px;
  list-style-type: none;
}
.tempfar {
  text-decoration: underline;
  color: #000000;
}
.tempfar:hover {
  text-decoration: underline;
  color: #0d34e2;
}
h2 {
  font-weight: 700;
  font-size: 40px;
}

h3 {
  font-size: 22px;
}

.sun {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background-color: #f3f3f3;
  border-radius: 50%;
  border: 5px solid #dbdbdb;
}

.cards-row {
  margin-top: 40px;
}

.card {
  text-align: center;
  background-color: #f3f3f3;
  border-style: none;
  margin: 10px;
}

.small-sun {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #dbdbdb;
}

.card-day {
  margin-top: 10px;
}
.card-temp {
  margin-top: 20px;
}
